/*Media Queries Mobile Tamanho P*/
@media (max-width: 320.99px) {
          *{
            margin: 0;
            padding: 0;
        }

        body{
            font-size: 1em;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            background: #e6e6e6;


        }

        #container-principal{
             max-width: 1000%;
        }


        #barra-superior{
            position: fixed;
            z-index: 3;
            width:100%;
            min-height:190px;
            background: #8000ff;
        }

        #menu{
            position: absolute;
            left: 0.5em;
            font-size: 1.5em;
        }

        #user{
            position:absolute;
            top: 70px;
            white-space:nowrap;
            left: 5em;




        }


        #label-user{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding-right: 1em;
            padding-left: 1em;
             font-size: 1.3em;

        }

        #user-logado{
            background: white;
            padding-right: 1em;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            position:absolute;
            top:3px;
            left:4em;
            font-size: 1.2em;
            height:25px;

        }




        #icone-suporte{
            position: absolute;
            left: 1em;
            top:130px;
            height:30px;
            line-height: 20px;
            width: 160px;

        }

        #icone-novos-leads{
            position: absolute;
            left: 14em;
            top:130px;
            height:30px;
            line-height: 20px;
            width: 160px;
        }




        #logo-nixautos{
            position: absolute;
            left: 12em;
            top:10px;

        }






        .form-control{
                height: 32px;
                 min-width:320px;

        }

        form{
            padding:10px;
            min-height:2000px;
            min-width:380px;
            position: absolute;
            top:300px;
            left:1em;

        }

        #validar-placa{
            font-size: 0.7em;
        }

        #validacao{
            font-size: 0.7em;
            color: red;
        }







        #escolha-tipo-field{
            position: absolute;
            z-index: 1;
            top: 190px;
            left:1em;
             min-width:380px;
            border-bottom:1px solid gray;
            background:#e6e6e6;
            padding:0.5em;

        }

        #escolha-tipo-veiculo{
            display: inline;
            font-size: 1em;

        }



        #tipo-veiculo{
            display: inline;
            width:180px;

        }





        #header-formulario{
            position: relative;

        }


        #menu-lateral{
            position: fixed;
            min-width: 220px;
            z-index:2;
            background: #8000ff;
            border-radius:10px;
            padding: 1em;
            left:-0.5em;
            top: 2em;

        }

        #anunciante-info{
            border: 1px solid gray;
            border-top-left-radius: 10px;
             border-top-right-radius: 10px;
             background: whitesmoke;
        }

        #anunciante-info, small{
            font-size: 0,5em;
        }


        .btn-lateral{
            border-bottom: 1px solid whitesmoke;
            cursor: pointer;
            background: #f0ad4e;
            border-left:1px solid gray;
            border-right:1px solid gray;

        }

        .btn-final{
             border-bottom-left-radius: 10px;
             border-bottom-right-radius: 10px;
             border-bottom: 1px solid gray;
        }

        .btn-lateral:hover{
            background: whitesmoke;
            transform: scale(1.03);
            box-shadow: 0 5px 15px rgba(0,0,0,0.6);

        }

        #img-logo-anunciante{
            border: 1px solid black;
            min-width: 140px;
            min-height: 80px;
        }











        #campo-marca{
             width:200px;
            position: absolute;
            top:50px;
            left:-2.5em;

        }



        #campo-modelo{
             width:200px;
            position: absolute;
            top:130px;
            left:-2.5em;
        }

        #campo-ano{
            width:200px;
            position: absolute;
            top:210px;
            left:0.7em;
        }

        #campo-combustivel{
            width:240px;
            position: absolute;
            top:290px;
            left:0.7em;
        }

        #campo-cor{
            width:195px;
            position: absolute;
            top:370px;
            left:1em;
        }

        #campo-portas{
            width:195px;
            position: absolute;
            top:440px;
            left:1em;
        }

        #campo-cambio{
            width:195px;
            position: absolute;
            top:440px;
            left:1em;
        }


        #campo-ipva{
            width:195px;
            position: absolute;
            top:520px;
            left:1em;
        }

        #campo-placa{
            width:200px;
            position:absolute;
            top:590px;
            left: 1em;
        }
        #placa{
            max-width:320px;
        }



        #campo-valor{
            padding:1em;
            position:absolute;
            top:650px;
        }



        #valor{
            width:200px;
        }

        #validacao-input-valor{
            font-size: 0.7em;
            color: red;
            margin-left:15px;
            font-weight:900;
        }


        #advertencias{
            position: absolute;
            left:5px;
            top:170px;
            white-space: wrap;
            font-size: 0.7em;
            min-width:380px;

        }






        #itens-carros{
            position:absolute;
            top: -200px;
            left:350px;
            max-width: 200px;



        }

        #header-itens-opcionais{
            font-size: 14px;

        }

        #itens-opcionais{



            font-size: 1em;
            position: absolute;
            top: 500px;
            left:-350px;
            padding:5px;
             min-width:360px;
            height: 180px;
        }

        #scroll-itens-opcionais{
            overflow-y: scroll;
            background: white;
             height: 180px;

        }

        #scroll-itens{
            overflow-y: scroll;
            height: 210px;
            background: white;
        }




        #display-itens-opcionais{
            position: absolute;
            top: 730px;
            left:-350px;
            border: 1px;
            background: white;
            border-radius: 5px;
             min-width:360px;
            height: 210px;


        }

        #lista{
             font-size: 1em;
            white-space: nowrap;
            height: 180px;

        }

        #info-complementares{
             min-width:360px;
            min-height:300px;


        }

        #div-info-complementares{
            position: absolute;
            top: 1000px;
            left:-350px;
            width: 230px;
            font-size: 0.8em;



        }





        .etiqueta{
            position: relative;
            top: 30px;
            left: 0;
            z-index: -1;
            font-size: 0.9em;
        }

        .check-cor-verde{
            color: green;
        }









        #salvar{
            position: relative;
            top: 1400px;
            left:-320px;
            min-width: 300px;


        }

        #div-footer{
            position: absolute;
            top: 2300px;
            min-width:450px;
            left: -1em;
        }


}






/*Media Queries Mobile Tamanho M*/
@media(min-width:321px) and (max-width: 375.99px) {
          *{
            margin: 0;
            padding: 0;
        }

        body{
            font-size: 1em;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            background: #e6e6e6;


        }

        #container-principal{
             min-width: 100%;
        }


        #barra-superior{
            position: fixed;
            z-index: 3;
            width:100%;
            min-height:190px;
            background: #8000ff;
        }

        #menu{
            position: absolute;
            left: 0.5em;
            font-size: 1.5em;
        }

        #user{
            position:absolute;
            top: 70px;
            white-space:nowrap;
            left: 3em;




        }


        #label-user{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding-right: 1em;
            padding-left: 1em;
             font-size: 1.3em;

        }

        #user-logado{
            background: white;
            padding-right: 1em;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            position:absolute;
            top:3px;
            left:4em;
            font-size: 1.2em;
            height:25px;

        }




        #icone-suporte{
            position: absolute;
            left: 5em;
            top:110px;
            height:30px;
            line-height: 20px;
            width: 160px;

        }

        #icone-novos-leads{
            position: absolute;
            left:5em;
            top:150px;
            height:30px;
            line-height: 20px;
            width: 160px;
        }




        #logo-nixautos{
            position: absolute;
            left: 10em;
            top:10px;

        }






        .form-control{
                height: 32px;
                 min-width:280px;

        }

        form{
            padding:10px;
            min-height:2000px;
            min-width:320px;
            position: absolute;
            top:300px;
            left:0.5em;

        }

        #validar-placa{
            font-size: 0.7em;
        }

        #validacao{
            font-size: 0.7em;
            color: red;
        }







        #escolha-tipo-field{
            position: absolute;
            z-index: 1;
            top: 190px;
            left:1em;
             min-width:380px;
            border-bottom:1px solid gray;
            background:#e6e6e6;
            padding:0.5em;

        }

        #escolha-tipo-veiculo{
            display: inline;
            font-size: 1em;

        }



        #tipo-veiculo{
            display: inline;
            width:180px;

        }





        #header-formulario{
            position: relative;

        }


        #menu-lateral{
            position: fixed;
            min-width: 220px;
            z-index:2;
            background: #8000ff;
            border-radius:10px;
            padding: 1em;
            left:-0.5em;
            top: 2em;

        }

        #anunciante-info{
            border: 1px solid gray;
            border-top-left-radius: 10px;
             border-top-right-radius: 10px;
             background: whitesmoke;
        }

        #anunciante-info, small{
            font-size: 0,5em;
        }


        .btn-lateral{
            border-bottom: 1px solid whitesmoke;
            cursor: pointer;
            background: #f0ad4e;
            border-left:1px solid gray;
            border-right:1px solid gray;

        }

        .btn-final{
             border-bottom-left-radius: 10px;
             border-bottom-right-radius: 10px;
             border-bottom: 1px solid gray;
        }

        .btn-lateral:hover{
            background: whitesmoke;
            transform: scale(1.03);
            box-shadow: 0 5px 15px rgba(0,0,0,0.6);

        }

        #img-logo-anunciante{
            border: 1px solid black;
            min-width: 140px;
            min-height: 80px;
        }











        #campo-marca{
             width:200px;
            position: absolute;
            top:50px;
            left:-2.5em;

        }



        #campo-modelo{
             width:200px;
            position: absolute;
            top:130px;
            left:-2.5em;
        }

        #campo-ano{
            width:200px;
            position: absolute;
            top:210px;
            left:0.7em;
        }

        #campo-combustivel{
            width:240px;
            position: absolute;
            top:290px;
            left:0.7em;
        }

        #campo-cor{
            width:195px;
            position: absolute;
            top:370px;
            left:1em;
        }

        #campo-portas{
            width:195px;
            position: absolute;
            top:440px;
            left:1em;
        }

        #campo-cambio{
            width:195px;
            position: absolute;
            top:440px;
            left:1em;
        }


        #campo-ipva{
            width:195px;
            position: absolute;
            top:520px;
            left:1em;
        }

        #campo-placa{
            width:200px;
            position:absolute;
            top:590px;
            left: 1em;
        }
        #placa{
            max-width:320px;
        }



        #campo-valor{
            padding:1em;
            position:absolute;
            top:650px;
        }



        #valor{
            width:200px;
        }

        #validacao-input-valor{
            font-size: 0.7em;
            color: red;
            margin-left:15px;
            font-weight:900;
        }


        #advertencias{
            position: absolute;
            left:5px;
            top:170px;
            white-space: nowrap;
            font-size: 0.4em;
            min-width:350px;
            font-weight: 900;

        }






        #itens-carros{
            position:absolute;
            top: -200px;
            left:350px;
            max-width: 200px;



        }

        #header-itens-opcionais{
            font-size: 14px;

        }

        #itens-opcionais{



            font-size: 1em;
            position: absolute;
            top: 450px;
            left:-340px;
            padding:5px;
             max-width:380px;
            height: 180px;
        }

        #scroll-itens-opcionais{
            overflow-y: scroll;
            background: white;
             height: 210px;

        }

        #scroll-itens{
            overflow-y: scroll;
            height: 210px;
            background: white;
        }




        #display-itens-opcionais{
            position: absolute;
            top: 770px;
            left:-335px;
            border: 1px;
            background: white;
            border-radius: 5px;
             min-width:280px;
            height: 210px;


        }

        #lista{
             font-size: 1em;
            white-space: nowrap;
            height: 180px;

        }

        #info-complementares{
             min-width:280px;
            min-height:300px;


        }

        #div-info-complementares{
            position: absolute;
            top: 1000px;
            left:-340px;
            width: 230px;
            font-size: 0.8em;



        }





        .etiqueta{
            position: relative;
            top: 30px;
            left: 0;
            z-index: -1;
            font-size: 0.9em;
        }

        .check-cor-verde{
            color: green;
        }









        #salvar{
            position: relative;
            top: 1400px;
            left:-320px;
            min-width: 250px;


        }

        #div-footer{
            position: absolute;
            top: 2300px;
            min-width:450px;
            left: -3em;
        }


}


/*Media Queries Mobile Tamanho G*/
@media (min-width:376px) and  (max-width: 425.99px) {
          *{
            margin: 0;
            padding: 0;
        }

        body{
            font-size: 1em;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            background: #e6e6e6;


        }

        #container-principal{
             min-width: 100%;
        }


        #barra-superior{
            position: fixed;
            z-index: 3;
            width:100%;
            min-height:190px;
            background: #8000ff;
        }

        #menu{
            position: absolute;
            left: 0.5em;
            font-size: 1.5em;
        }

        #user{
            position:absolute;
            top: 70px;
            white-space:nowrap;
            left: 3em;




        }


        #label-user{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding-right: 1em;
            padding-left: 1em;
             font-size: 1.3em;

        }

        #user-logado{
            background: white;
            padding-right: 1em;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            position:absolute;
            top:3px;
            left:4em;
            font-size: 1.2em;
            height:25px;

        }




        #icone-suporte{
            position: absolute;
            left: 5em;
            top:110px;
            height:30px;
            line-height: 20px;
            width: 160px;

        }

        #icone-novos-leads{
            position: absolute;
            left:5em;
            top:150px;
            height:30px;
            line-height: 20px;
            width: 160px;
        }




        #logo-nixautos{
            position: absolute;
            left: 10em;
            top:10px;

        }






        .form-control{
                height: 32px;
                 min-width:280px;

        }

        form{
            padding:10px;
            min-height:2000px;
            min-width:320px;
            position: absolute;
            top:300px;
            left:0.5em;

        }

        #validar-placa{
            font-size: 0.7em;
        }

        #validacao{
            font-size: 0.7em;
            color: red;
        }







        #escolha-tipo-field{
            position: absolute;
            z-index: 1;
            top: 190px;
            left:1em;
             min-width:380px;
            border-bottom:1px solid gray;
            background:#e6e6e6;
            padding:0.5em;

        }

        #escolha-tipo-veiculo{
            display: inline;
            font-size: 1em;

        }



        #tipo-veiculo{
            display: inline;
            width:180px;

        }





        #header-formulario{
            position: relative;

        }


        #menu-lateral{
            position: fixed;
            min-width: 220px;
            z-index:2;
            background: #8000ff;
            border-radius:10px;
            padding: 1em;
            left:-0.5em;
            top: 2em;

        }

        #anunciante-info{
            border: 1px solid gray;
            border-top-left-radius: 10px;
             border-top-right-radius: 10px;
             background: whitesmoke;
        }

        #anunciante-info, small{
            font-size: 0,5em;
        }


        .btn-lateral{
            border-bottom: 1px solid whitesmoke;
            cursor: pointer;
            background: #f0ad4e;
            border-left:1px solid gray;
            border-right:1px solid gray;

        }

        .btn-final{
             border-bottom-left-radius: 10px;
             border-bottom-right-radius: 10px;
             border-bottom: 1px solid gray;
        }

        .btn-lateral:hover{
            background: whitesmoke;
            transform: scale(1.03);
            box-shadow: 0 5px 15px rgba(0,0,0,0.6);

        }

        #img-logo-anunciante{
            border: 1px solid black;
            min-width: 140px;
            min-height: 80px;
        }











        #campo-marca{
             width:200px;
            position: absolute;
            top:50px;
            left:-2.5em;

        }



        #campo-modelo{
             width:200px;
            position: absolute;
            top:130px;
            left:-2.5em;
        }

        #campo-ano{
            width:200px;
            position: absolute;
            top:210px;
            left:0.7em;
        }

        #campo-combustivel{
            width:240px;
            position: absolute;
            top:290px;
            left:0.7em;
        }

        #campo-cor{
            width:195px;
            position: absolute;
            top:370px;
            left:1em;
        }

        #campo-portas{
            width:195px;
            position: absolute;
            top:440px;
            left:1em;
        }

        #campo-cambio{
            width:195px;
            position: absolute;
            top:440px;
            left:1em;
        }


        #campo-ipva{
            width:195px;
            position: absolute;
            top:520px;
            left:1em;
        }

        #campo-placa{
            width:200px;
            position:absolute;
            top:590px;
            left: 1em;
        }
        #placa{
            max-width:320px;
        }



        #campo-valor{
            padding:1em;
            position:absolute;
            top:650px;
        }



        #valor{
            width:200px;
        }

        #validacao-input-valor{
            font-size: 0.7em;
            color: red;
            margin-left:15px;
            font-weight:900;
        }


        #advertencias{
            position: absolute;
            left:5px;
            top:170px;
            white-space: nowrap;
            font-size: 0.4em;
            min-width:350px;
            font-weight: 900;

        }






        #itens-carros{
            position:absolute;
            top: -200px;
            left:350px;
            max-width: 200px;



        }

        #header-itens-opcionais{
            font-size: 14px;

        }

        #itens-opcionais{



            font-size: 1em;
            position: absolute;
            top: 450px;
            left:-340px;
            padding:5px;
             max-width:380px;
            height: 180px;
        }

        #scroll-itens-opcionais{
            overflow-y: scroll;
            background: white;
             height: 210px;

        }

        #scroll-itens{
            overflow-y: scroll;
            height: 210px;
            background: white;
        }




        #display-itens-opcionais{
            position: absolute;
            top: 770px;
            left:-335px;
            border: 1px;
            background: white;
            border-radius: 5px;
             min-width:280px;
            height: 210px;


        }

        #lista{
             font-size: 1em;
            white-space: nowrap;
            height: 180px;

        }

        #info-complementares{
             min-width:280px;
            min-height:300px;


        }

        #div-info-complementares{
            position: absolute;
            top: 1000px;
            left:-340px;
            width: 230px;
            font-size: 0.8em;



        }





        .etiqueta{
            position: relative;
            top: 30px;
            left: 0;
            z-index: -1;
            font-size: 0.9em;
        }

        .check-cor-verde{
            color: green;
        }









        #salvar{
            position: relative;
            top: 1400px;
            left:-320px;
            min-width: 250px;


        }

        #div-footer{
            position: absolute;
            top: 2300px;
            min-width:450px;
            left: -3em;
        }


}












/* Media Queries para Tela */
@media (min-width: 1024.00px) and (max-width: 1399.98px){
          *{
            margin: 0;
            padding: 0;
        }

        body{
            font-size: 1em;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            background: #e6e6e6;
            max-width: 900px;
        }

        #container-principal{
            max-width: 1350px;
        }


        #barra-superior{
            position: fixed;
            z-index: 1;
            min-width: 1350px;
            min-height:40px;
            background: #8000ff;
        }

        #user{
            position: relative;
            top: 10px;
            left: 10em;

        }


        #label-user{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding-right: 1em;
            padding-left: 1em;

        }

        #user-logado{
            background: white;
            padding-right: 1em;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            position: relative;
            top: 0;
            left:-0.7em;

        }




        #icone-suporte{
            position: relative;
            left: 35em;
            top:5px;
            height:30px;
            line-height: 20px;
        }

        #icone-novos-leads{
            position: relative;
            left: 30em;
            top: 5px;
            height:30px;
            line-height: 20px;
        }




        #logo-nixautos{
            position: relative;
            left: 20em;
        }




        #formulario{
            position:absolute;
            left:1em;
            top:150px;
            left:2em;
            min-width:1200px;
            min-height:1200px;

            font-size: 1em;
            overflow-y: scroll;
        }

        .form-control{
                height: 32px;
        }

        #validar-placa{
            font-size: 0.7em;
        }

        #validacao{
            font-size: 0.7em;
            color: red;
        }

        #menu{
            position: absolute;
            left: 3em;
        }





        #escolha-tipo-field{
            position: absolute;
            z-index: 0;
            left: 190px;
            top: 50px;
            max-width: 350px;
        }

        #escolha-tipo-veiculo{
            display: inline;

        }



        #tipo-veiculo{
            display: inline;
        }

        #header-formulario{
            position: relative;

        }


        #menu-lateral{
            position: fixed;
            top: 30px;
            min-width: 250px;
            z-index:1;
            background:#8000ff;
            padding-top:1em;
            border-bottom-left-radius: 10px;
             border-bottom-right-radius: 10px;
        }

        #anunciante-info{


        }

        #anunciante-info, small{
            font-size: 0,5em;
        }


        .btn-lateral{
            border-bottom: 1px solid whitesmoke;
            cursor: pointer;
            background: #f0ad4e;
            border-left:1px solid gray;
            border-right:1px solid gray;

        }

        .btn-final{
             border-bottom-left-radius: 10px;
             border-bottom-right-radius: 10px;
             border-bottom: 1px solid gray;
        }

        .btn-lateral:hover{
            background: whitesmoke;
            transform: scale(1.03);
            box-shadow: 0 5px 15px rgba(0,0,0,0.6);

        }

        #img-logo-anunciante{
            border: 1px solid black;
            min-width: 140px;
            min-height: 80px;
        }











        #campo-marca{
            max-width: 200px;
            position: absolute;
            top: 20px;
            left: -50px;
        }



        #campo-modelo{
            min-width: 230px;
            position: absolute;
            top: 20px;
            left: 160px;

        }

        #campo-ano{
            max-width: 120px;
            position: absolute;
            top: 100px;
            left: 0px;
        }

        #campo-combustivel{
            max-width: 260px;
            position: absolute;
            top: 100px;
            left: 190px;
        }

        #campo-cor{
             min-width: 260px;
            position: absolute;
            top: 180px;
            left: 190px;
        }

        #campo-portas{
             min-width: 170px;
            position: absolute;
            top: 260px;
            left: 0px;
        }

        #campo-cambio{
           max-width: 180px;
            position: absolute;
            top: 180px;
            left: 0px;

        }


        #campo-ipva{
             min-width: 260px;
            position: absolute;
            top: 260px;
            left: 190px;

        }

        #campo-placa{
             position: absolute;
            top: 340px;
            left:0px;

        }
        #placa{
            min-width: 120px;
            position: relative;
            left: 0;
        }



        #campo-valor{
            position: absolute;
            top: 340px;
            left: 200px;
        }



        #valor{
           min-width: 200px;
           position: relative;
            left: 0;
        }

        #validacao-input-valor{
            font-size: 0.7em;
            color: red;
            margin-left:15px;
            font-weight:900;
        }


        #advertencias{
            position: absolute;
            left:-180px;
            top:150px;
            white-space: nowrap;
            font-size: 0.7em;
        }






        #itens-carros{
            position:absolute;
            top: -200px;
            left:350px;



        }

        #header-itens-opcionais{
            font-size: 14px;
        }

        #itens-opcionais{
            overflow-y: scroll;
            min-width: 280px;
            max-height: 380px;
            background: white;
            font-size: 14px;
            position: relative;
            top: -10px;
            padding:5px;
        }



        #display-itens-opcionais{
            position: absolute;
            top: -10px;
            left:320px;
            border: 1px;
            background: white;
            border-radius: 5px;
            min-width: 250px;
            min-height: 100px;
            max-height: 380px;
            overflow-y: scroll;
        }

        #lista{
            font-size: 14px;
            white-space: nowrap;

        }



        #div-info-complementares{
            position: absolute;
            top: 400px;
        }

        textarea{
            width:600px;
            height:200px;
        }





        .etiqueta{
            position: relative;
            top: 30px;
            left: 0;
            z-index: -1;
            font-size: 0.9em;
        }

        .check-cor-verde{
            color: green;
        }









        #salvar{
            position: absolute;
            top: 700px;
            left:200px;
            min-width: 300px;
            margin: 50px;

        }

        #div-footer{
            position: absolute;
            top: 1300px;
            min-width:1350px;
        }




}